<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzk.androidbase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".list.ListViewActivity"></activity>
        <activity android:name=".list.RecyclerActivity" />
        <activity android:name=".BaseMainActivity" />
    </application>

</manifest>