<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzk.androidbase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".nightmode.ChangeNightModeActivity"></activity>
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".list.ListViewActivity" />
        <activity android:name=".list.RecyclerActivity" />
        <activity android:name=".BaseMainActivity" />

        <receiver android:name=".widget.DemoWidget">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.seewo.homewidgets.action.CLICK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>